@font-face {
  font-family:fondamento;
  src: url(./asset/fontz/Fondamento-Regular.woff);
}
@font-face {
  font-family:Macondo;
  src: url(./asset/fontz/Macondo-Regular.woff);
}
:root{
  --absoluteWidth: 100vw;
  --absoluteHeight: 100vh;
  --width: 100%;
  --height: 100%;
  --background-color: none;
  --fontfamily: fondamento;
  --fontfamilyMacondo: Macondo;
  --color:  rgb(24, 19, 10);
  --borderRadius: .5rem;
  --padding: 1rem;
  --paddingRegular: .5rem;
}
.App {
  width: var(--width);
  height: 100vh;
  background-color: var(--background-color);
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.home,
.contact,
.menu-page,
.wrapper,
.payment-container,
.login,
.contact,
.vendor,
.rider{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: var(--width);
  min-height: var(--absoluteHeight);
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: var(--fontfamilyMacondo);
}

a {
  text-decoration: none;
}
