.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #dad7b8;
    background-image: url(../asset/img/pizza-food.webp);
    background-position: center center; /* Keeps image truly centered */
    background-repeat: no-repeat;
    background-size: contain; /* Keeps entire image visible */
    background-attachment: fixed; /* Fixes the image during scroll */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.button-section{
    width: 100%;
    height: auto;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
.custom-btn{
    font-size: 1.1rem;
    letter-spacing: .1px;
    line-height: 2rem;
    padding: .5rem 1.3rem;
    border-radius: .3rem;
    margin: 0px .5rem;
    font-family: var(--fontfamily);
}
.btn-1 {
    background-color: transparent;
    border: 2px solid white;
    color: var(--color);
    transition: background-color 0.3s, border-color 0.3s;
}
.btn-1:hover,
.btn-1:focus {
    background-color: rgb(68, 45, 2, .3);
    border-color: black;
}
.btn-2 {
    background-color: black;
    color: white;
    border: none;
}
