/* Basic container setup */
.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(203, 219, 236, 0.3);
  overflow-y: auto;
  scroll-behavior: smooth;
  margin-top: -10rem;
}

/* Section 1 */
.section1 {
  width: 100%;
  padding: 1rem 0; /* Space around content */
  position: relative;
}

.HomeImg {
  width: 100%;
  height: auto;
  display: block;
}

/* Section 2 */
.section2 {
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: 
    radial-gradient(circle at 20% 40%, rgba(255, 200, 200, 0.8), transparent 70%),
    radial-gradient(circle at 80% 30%, rgba(200, 255, 255, 0.6), transparent 60%),
    radial-gradient(circle at 50% 70%, rgba(200, 200, 255, 0.7), transparent 70%);
  background-color: #f0f0f0;
  position: relative;
  margin-top: -3rem;
}

/* Section 3 */
.section3 {
  width: 100%;
  padding: 1rem 0;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.star-listing{
  font-family: var(--fontfamilyMacondo);
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Responsive design */
@media (min-width: 576px) {
  .home{
    margin-top: -11rem;
  }
  .section1, .section3 {
    width: 100%;
    margin: 0 auto;
  }
  .HomeImg {
    width: 100%;
    height: auto;
    display: block;
  }
  .section2 {
    background-size: cover;
    background-position: center;
    margin-top: -5rem;
  }
}
