.global-layout {
  width: 100%;
  min-height: 100vh; /* Ensure the layout takes the full height */
  position: relative;
  background-color: var(--background-color);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 1000; 
  background-color: transparent; /* Remove background color */
}
.brand {
  width: fit-content;
  height: fit-content;
  border: 2px solid orangered;
  color: orange;
  text-shadow: 2px 2px 4px rgba(68, 20, 2, 0.8);
  box-shadow: 3px 3px 10px rgba(255, 69, 0, 0.7);
  padding: var(--paddingRegular);
  border-radius: 0.4rem;
  background-color: rgba(4, 58, 105, 0.6);
  font-family: var(--fontfamilyMacondo);
}

.icons-grid{
  display: flex;
  margin: 0px .3rem;
}
.toggle-button {
  position: relative;
  z-index: 100;
  font-size: 1rem;
  background-color: orange;
  padding: var(--padding);
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, box-shadow 0.2s, transform 0.2s;
  cursor: pointer;
  border: none;
}

.toggle-button:hover {
  background-color: #ffa500;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
}

.toggle-button:active {
  background-color: #ff8c00;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transform: translateY(2px);
}

.cart-icon{
  background-color: lightblue;
  padding: var(--padding);
  border-radius: 50%;
  margin-left: .5rem;
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh; /* Full height */
  background-color: rgba(20, 14, 1, 0.4);
  box-shadow: 0 4px 8px rgb(248, 193, 90, .1);
  z-index: 50;
  padding-top: 4rem;
}
.navigation-menu{
  margin-top: 3rem;
}
.dropdown-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.7rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  overflow: hidden;
  color: orange;
  gap: 8px;
  font-family: var(--fontfamilyMacondo);
}

.dropdown-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: rgb(32, 0, 31, .2); /* Color of the hover effect */
  transition: width 0.3s ease; /* Controls the animation speed */
  z-index: -1; /* Keeps the effect behind the text */
}

.dropdown-item:hover::before {
  width: 100%;
  color: wheat;
}
.icon {
  display: flex;
  align-items: center;
  font-size: 1.2em;
}



/*MD & LG VIEWPORTS */
@media screen and (min-width: 576px) {
  .icons-grid{
    gap: .5rem;
  }
  .toggle-button:hover {
    background-color: orangered;
    box-shadow: 0 6px 15px rgb(31, 20, 1, .5);
  }
  
  .toggle-button:active {
    background-color: #ff8c00;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    transform: translateY(3px);
  }
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh; /* Full height */
    background-color: rgba(20, 14, 1, 0.4);
    box-shadow: 0 4px 8px rgb(133, 42, 8, .5);
    z-index: 50;
    padding-top: 4rem;
  }
  .navigation-menu{
    margin-top: 3rem;
  }
}