.card {
  border: 2px solid #96afe2;
  border-radius: 0.5rem;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cardHeader {
  padding-left: .5rem;
  font-size: 1.4rem;
  font-weight: bold;
}

.cardContent {
  padding-left: .9rem;
  height: fit-content;
}

.cardHover {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  overflow: hidden;
}

.cardHover:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}