.menuPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.menuContainer {
  margin-top: 7rem;
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Default styles for larger screens */
.inputWrapper {
  display: flex;
  align-items: center;
  background: transparent;
  width: 90%;
  max-width: 400px;
  height: 50px;
  position: relative;
}

/* Media query for mobile screens */
@media (max-width: 576px) {
  .inputWrapper {
    width: 90%;
    max-width: 370px;
  }
}

@media (max-width: 480px) {
  .inputWrapper {
    width: 100%;
    max-width: 100%;
    border-width: 1px;  /* Reduce border width on very small screens */
  }
}

.input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1rem;
  background: black;
  color: white;
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  padding: 1rem 0px;
}
.input[type="text"]{
  padding-left: 3rem;
}
input::placeholder {
  color: whitesmoke;
  text-align: start;
}

.iconLeft {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
}

.iconRight {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
}

.icon {
  color: orange;
  font-size: 1.2rem;
}

@media screen and (min-width: 576px){
  
.inputWrapper {
  width: 50%;
  border: 2px solid red;
}

.input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1rem;
  background: wheat;
  color: black;
  max-width: 400px;
  width: 90%;
  padding-left: 2rem; /* Add padding to move text inside */
}

.input::placeholder {
  color: black;
  padding-left: 3rem;
}

.iconLeft {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
}

.iconRight {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
}

.icon {
  color: orange;
  font-size: 1.2rem;
}
}