.container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.filterWrap{
  padding: .7rem;
}
.sectionWrap{
  z-index: 9;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.sectionTitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  width: 100%;
  height: fit-content;
  text-align: start;
  padding-left: .9rem;
 
}
.gridContainer {
  z-index: 9;
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 95%;
  height: auto;
}
@media (min-width: 576px) {
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .7rem;
  }
}
.selectContent{
  border: 2rem solid blue;
}