.container {
  padding: 1rem;
}

.filterContainer {
  width: 16rem;
  margin-bottom: 2rem;
  z-index: 19;
}
.sectionWrap{
  z-index: 9;
}
.sectionTitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  margin-bottom: 2rem;
}

.vendorType {
  color: #4B5563;
}

.vendorRating {
  font-weight: 600;
}

.cardHover {
  transition: box-shadow 0.2s;
}

.cardHover:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .gridContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}