/* General layout */
.payment-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.payment-grid {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: auto;
  margin-top: auto;
  overflow: hidden;
}

/* Header */
.payment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.payment-header h4 {
  color: #333;
  font-size: 1.4em;
  margin: 0;
}

/* Payment Methods */
.payment-methods h4,
.payment-methods p {
  color: #666;
  font-size: 1em;
  margin: 8px 0;
}

.payment-methods-list {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin: 10px 0;
  flex-wrap: wrap;
}

/* Card styles  */
.payment-card {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: #f0f0f0;
  border-radius: 6px;
  color: #555;
  font-size: 1em;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.payment-card:hover {
  background-color: #d0e6ff;
}

.payment-card-logo {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

/* Card Details */
.payment-card-details {
  margin-top: 15px;
}

.payment-card-details h4 {
  color: #666;
  font-size: 1em;
  margin-bottom: 8px;
}

.payment-card-details input[type="text"] {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 0.9em;
  box-sizing: border-box;
}

/* Button */
.payment-btn {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #ffffff;
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}

.payment-btn:hover {
  background-color: #45a049;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .payment-grid {
    padding: 10px;
    max-width: 90%;
    width: 100%;
    border-radius: 6px;
  }

  .payment-header h4 {
    font-size: 1.2em;
  }

  .payment-methods h4,
  .payment-methods p,
  .payment-card-details h4 {
    font-size: 0.9em;
  }

  .payment-card {
    font-size: 0.9em;
    padding: 6px;
  }

  .payment-card-logo {
    width: 18px;
    height: 18px;
  }

  .payment-card-details input[type="text"] {
    padding: 6px;
    font-size: 0.85em;
  }

  .payment-btn {
    padding: 8px;
    font-size: 0.95em;
  }
}
