/* slideNav.css */
.card-container {
  transition: all 0.3s ease;
  padding: .5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
  height: fit-content;
  text-align: center;
  position: absolute;
  top: 87%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 1rem;
  background-color: rgba(223, 228, 231);
}
@media screen and (max-width: 576px) {
  .card-container {
    width: 90%;
    max-width: 350px;
    height: fit-content;
    padding: var(--paddingRegular);
    margin-bottom: 1rem;
  }
  }
.card-content {
  font-size: 1.2rem;
  color: #333;
}
/* Button Section For Customer Nav-Item */

.custom-button{
  font-size: 1.1rem;
  line-height: 2rem;
  padding: .5rem 1rem;
  border-radius: .3rem;
  margin: 0px .5rem;
  font-weight: 400;
  font-family: var(--fontfamily);
}
.btn-1 {
  background-color: transparent;
  border: 2px solid orange;
  color: var(--color);
  background-color: whitesmoke;
  transition: background-color 0.3s, border-color 0.3s;
}
.btn-1:hover,
.btn-1:focus {
  background-color: rgb(68, 45, 2, .3);
  border-color: black;
}
.btn-2 {
  background-color: rgb(88, 59, 3);
  color: white;
  border: none;
}